@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

.slick-prev:before,
.slick-next:before {
    color: #3b82f6;
}

.slick-dots li button:before {
    color: #3b82f6;
}

.carousel-slide {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #154CB3;
    color: white;
    padding: 1rem;
    text-align: left;
}