@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

.slick-prev:before,
.slick-next:before {
    color: #3b82f6;
}

.slick-dots li button:before {
    color: #3b82f6;
}